html {
	color-scheme: dark;
}

body {
	font-size: larger;
	margin-left: 1.1%;
	line-height: normal;
}

div ul {
	font-size: 1.4rem;
}

nav ul {
	list-style-type: none
}

li {
	line-height: 1.6;
}

/* Table of contents */

.contents {
	position: sticky;
	bottom: 9%;
}

@media only screen and (max-width:300px) {
	.contents h2, .contents nav {
		display: none;
	}
}

.contents, main {
	display: inline-block;
}