:root {
	--content-margin: 12.35em;
}

html {
	color-scheme: dark;
}

body {
	font-size: larger;
	margin-left: 1.1%;
	line-height: normal;
}

div ul {
	font-size: 1.4rem;
}

nav ul {
	list-style-type: none
}

li {
	line-height: 1.6;
}

.contents {
	position: fixed;
	width: var(--content-margin);
}

main {
	margin-left: var(--content-margin);
}

a:active {
	text-decoration: none;
}