:root {
	color-scheme: dark;
}

body {
	font-size: larger;
	margin-left: 1.1%;
	line-height: normal;
}

div ul {
	font-size: 1.4rem;
}

nav ul {
	list-style-type: none
}

li {
	line-height: 1.6;
}

/* website printing */

@media print {
	:root {
		color-scheme: light;
	}

	.hide-in-print {
		display: none;
	}
}