:root {
	--non-bullet-margin: 1.2%;
}

html {
	color-scheme: dark;
}

body {
	font-size: larger;
	margin-left: 1.1%;
}

li {
	margin-bottom: 0.36%;
}

footer {
	margin-bottom: var(--non-bullet-margin);
}

.tiny-heading {
	margin-top: var(--non-bullet-margin);
}