body {
	background-color: rgb(17, 17, 17);
	color: rgb(245, 245, 245);
	font-size: larger;
	margin-left: 1.1%;
}

a {
	color: rgb(245, 245, 245);
}

li {
	margin-bottom: 0.36%;
}

.note {
	margin-top: 1.2%;
}